# Add any directories, files, or patterns you don't want to be tracked by version control

/Logs/*
/media/Fatture/*
config.php
/Application/Views/Fatture/layout_fattura.php
/Frontend/Logs/.ipn_results.log
/Frontend/Logs/back_paypal.txt
/DB/Dump/dump.sql
/Application/Apps
/Library/*
/Theme/*
/Frontend/Application/Views/Default/layout.json
