Options -Indexes

# <IfModule mod_rewrite.c>
# 	Options +FollowSymlinks
	RewriteEngine on
	# File Git
	RewriteRule (^|/)\.git(ignore|modules)$ - [R=404,L]

	# Cartella .git
	RewriteRule (^|/)\.git(/|$) - [R=404,L]

	# Cartella Log
# 	RewriteRule (^|/)Logs(/|$) - [R=404,L]
	# Consenti solo Logs/CaptchaDDOS
	RewriteCond %{REQUEST_URI} ^/Logs/ [NC]
	RewriteCond %{REQUEST_URI} !^/Logs/CaptchaDDOS(/|$) [NC]
	RewriteRule ^ - [R=404,L]
	
	# Blocca README.md
	RewriteRule (^|/)README\.md$ - [R=404,L,NC]
	
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	
	RewriteRule ^(.*)$ index.php?url=$1 [B,QSA,L]
# </IfModule>
 
