/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
/*   padding-top: 50px; */
}

.logo
{
	position:fixed;
}

.content-wrapper
{
	padding-top:45px;
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}


/*
 * Sidebar
 */



/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a {
  color: #fff;
  background-color: #428bca;
}


/*.panel-info > .panel-heading {
    background-color: #e8e8e8;
    border-color: #d2d6de;
	color: #555;
}

.panel-info {
    border-color: #d2d6de;
}*/

.navbar-custom-menu
{
	margin-right:20px;
}

/*
 * Main content
 */

.main {
/*   padding: 20px; */
}
@media (min-width: 768px) {
  /*.main {
    padding-right: 40px;
    padding-left: 40px;
  }*/
}
.main .page-header {
  margin-top: 0;
}
.ie8 .main .page-header {
  margin-top: 50px;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.content_basso
{
	padding-top:0px !important;
}

.filters
{
	margin:15px 0;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #e6e6e6;
}

#list_filter_input_dal, #list_filter_input_al
{
	width:120px !important;
}

.box-header h3
{
	margin-top:0px;
	margin-bottom:20px;
}

.list_filter_form input
{
	max-width:150px !important;
}

.list_filter_form.form-inline,.list_filter_form_top
{
/* 	margin-bottom:10px !important; */
}

#box_form_import_traduzioni
{
	margin-top:10px;
}

.fileinput-button-custom input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px !important;
    direction: ltr;
    cursor: pointer;
}

.evidenzia
{
	display:none;
}

.scroll-x
{
	overflow-x:auto;
}

.ace_editor
{
	height: 300px !important;
	width: 100% !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0px;
}
.select2-container--default .select2-selection--single, .select2-selection .select2-selection--single
{
	padding-left: 0px;
}

.select2-container--default .select2-selection--single
{
	border-radius: 0px !important;
	border: 1px solid #d3d3d3 !important;
	font-size: 14px  !important;
    line-height: 1.42857143  !important;
	height: 34px  !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow
{
	top: 5px !important;
}

.testo_feedback
{
	min-height:130px;
}

.label-purple
{
	background-color: #605ca8 !important;
}
.text-info
{
	color: #00c0ef !important;
}
.label-maroon
{
	background-color: #800000 !important;
}
.text-maroon
{
	color: #800000 !important;
}
.label-olive
{
	background-color: #808000 !important;
}
.text-olive
{
	color: #808000 !important;
}
.label-teal
{
	background-color: #008080 !important;
}
.text-teal
{
	color: #008080 !important;
}
.label-gallo
{
	background-color: #ffff00 !important;
	color: #000 !important
}
.text-gallo
{
	color: #ffff00 !important;
}
.label-fuchsia
{
	background-color: #ff00ff !important;
}
.text-fuchsia
{
	color: #ff00ff !important;
}
.label-azzurrino
{
	background-color: #E3F2FD !important;
}
.text-azzurrino,.label-azzurrino
{
	color: #3c8dbc !important
}
.label-ciano
{
	background-color: cyan !important;
	color: #000 !important
}
.text-ciano
{
	color: cyan !important
}
.label-nero
{
	background-color: #000 !important;
	color: #FFF !important
}
.text-nero
{
	color: #000 !important
}

.main-header .logo
{
	font-size: 16px;
}

@media (min-width: 992px)
{
	.modal-lg {
		width: 96% !important;
	}
}

@media (max-width: 767px)
{
	.skin-blue .main-header .navbar .dropdown-menu li a {
		color: #777 !important;
	}
}
