.blocco_traduzione, .blocco_testo
{
	display:inline;
/* 	position:relative; */
}

.blocco_traduzione img
{
	width:15px !important;
	min-width:15px !important;
	height: 15px !important;
}

.fascia_contenuto
{
	position:relative;
	overflow:hidden;
}

.fascia_contenuto .fascia_contenuto .titolo_fascia
{
	display:none !important;
}

.fascia_contenuto .titolo_fascia
{
	display:none;
	position:absolute;
	right:-2px;
	top:-2px;
	background-color:#FFF;
	padding:5px 10px;
	color:#333;
	border:2px solid #333;
	border-top:none;
	border-right:none;
	z-index:999999;
	background-color:#000;
	color:#FFF;
}

.fascia_contenuto .titolo_fascia a
{
	background-color:#000;
	color:#FFF;
}

.fascia_contenuto .titolo_fascia a img
{
	background-color:#FFF;
/* 		width:15px; */
	margin-left:10px;
}

.fascia_contenuto:hover
{
	border-top:1px solid #333;
	border-bottom:1px solid #333;
}

.fascia_contenuto:hover .titolo_fascia
{
	display:block;
}

.edit_traduzione, .edit_blocco_testo, .aggiungi_blocco_testo, .elimina_blocco_testo
{
	cursor:pointer;
/*	position:absolute;
	left:0px;
	top:0px;*/
	z-index:999;
	margin-left:10px;
}
.aggiungi_blocco_testo
{
	display:inline-block;
	position:relative;
	padding-bottom:30px;
}
.elimina_blocco_testo
{
	display:inline-block;
}
.edit_blocco_testo i.fa, .aggiungi_blocco_testo i.fa, .elimina_blocco_testo i.fa
{
	display:none !important;
/* 	border: 1px solid #000; */
	border-radius:3px;
	padding:5px;
	background-color:#FF2759;
/* 		border:1px solid #CCC; */
	color:#FFF;
	font-size:16px !important;
}
.aggiungi_blocco_testo i.fa, .elimina_blocco_testo i.fa
{
	background-color:#FFF;
	border: 1px solid #FF2759;
	color: #FF2759;
	padding:4px;
}
.blocco_testo:hover .edit_blocco_testo i.fa,
.fascia_contenuto:hover .edit_blocco_testo i.fa,
.blocco_testo:hover .aggiungi_blocco_testo i.fa,
.fascia_contenuto:hover .aggiungi_blocco_testo i.fa,
.blocco_testo:hover .elimina_blocco_testo i.fa,
.fascia_contenuto:hover .elimina_blocco_testo i.fa
{
	width:20px;
	display:inline !important;
	margin-left:-5px;
}

.aggiungi_blocco_testo_context
{
	position:absolute;
	top:32px;
	left:-5px;
	display:none;
	width:200px;
}

.aggiungi_blocco_testo_context_element
{
	border: 1px solid #FF2759;
	color: #FF2759;
	font-size:16px !important;
	padding:3px 5px;
	border-radius:3px;
	margin-bottom:2px;
	background-color:#FFF;
}
.aggiungi_blocco_testo_context_element:hover, .aggiungi_blocco_testo_context_element:hover i.fa
{
	color: #FFF;
	background-color:#FF2759;
}
.aggiungi_blocco_testo_context_element span
{
	font-size:14px !important;
}
.aggiungi_blocco_testo_context i.fa
{
	border:none;
}

.aggiungi_blocco_testo:hover .aggiungi_blocco_testo_context
{
	display:block;
}

[contenteditable]
{ 
	outline: 0px solid transparent; 
} 

#cboxOverlay
{
	z-index:99999 !important;
}
#colorbox
{
	z-index:999999 !important;
} 


#sideslider {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    left: auto;
    margin-left: auto;
    margin-right: -265px;
    position: fixed;
    right: 0;
    top: 215px;
    width: 300px;
    z-index: 3500;
}

#sideslider .sideslider-tab {
	background-color: #222;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    height: 43px;
    left: -10px;
    padding-top: 11px;
    padding-left: 15px;
    position: absolute;
    text-transform: uppercase;
    top: 2px;
    transform: rotate( 
		-90deg
	);
    width: 47px;
}

#sideslider a {
    text-decoration: none;
}

#sideslider-smartbutton {
    background-color: #222;
    margin-left: 35px;
    padding-top: 10px;
    position: relative;
    width: 265px;
}

#sideslider .sideslider-close {
    background-color: #000;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    float: right;
    font-size: 12px;
    font-weight: 300;
    height: 21px;
    padding-right: 15px;
    padding-top: 3px;
    text-align: right;
    text-transform: uppercase;
    width: 265px;
}


#sideslider-text .line {
    display: block;
}

#sideslider-text .line a {
    color:#FFF !important;
	padding:3px 10px;
	display:block;
}

#sideslider-text .line a:hover
{
	color:#000 !important;
	background-color:#FFF;
	
}

#sideslider-text {
    color: #fff;
    text-align: left;
    margin-left: 5px;
}

#sideslider-text .header {
    display: block;
    font-size: 1.5rem;
    margin-bottom: 15px;
    text-shadow: 1px 1px 1px #000;
}
.sideclear {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    clear: both;
    display: block;
    float: none;
    font-size: 0;
    height: 0;
    list-style: outside none none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    visibility: hidden;
    width: 0;
}
