#segnalazione_cookies_ext
{
	padding: 40px;
    text-align: center;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	position:fixed;
	left:0px;
	bottom:-450px;
	z-index:9999;
	background-color:#FFF;
}
#segnalazione_cookies
{
	font-size: 13px;
    line-height: 20px;
}

/*.ok_cookies
{
	font-family: sans-serif;
    line-height: 18px;
    padding: 2px 12px;
    background: linear-gradient(to bottom,#FEFEFE,#F4F4F4) repeat scroll 0 0 #F3F3F3;
    border-color: #BBB;
    color: #333;
    text-shadow: 0 1px 0 #FFF;
    -moz-box-sizing: border-box;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-style: normal;
    text-decoration: none;
    white-space: nowrap;
    outline: none;
	font-weight:bold;
}*/
