.es-navbar-container
{
	z-index:999;
}
.es-navbar-button {
	position: relative;
}

.box_info_registrazione a
{
	text-decoration:underline;
}

.evidenzia
{
	display:none;
}

.first_of_grid
{
	margin-top:20px;
}

.condizioni_privacy a
{
	text-decoration:underline;
}

.t
{
	display:none;
}

.td_edit
{
	min-width:20px;
}

.image_picker_image
{
	width:50px;
	cursor:pointer;
}
ul.thumbnails.image_picker_selector li .thumbnail
{
	padding: 2px !important;
}

#cart-offcanvas
{
	z-index:9999;
}

img:not([src])
{
	visibility: initial;
}

.uk-form-danger
{
	border: 1px solid #f0506e;
}


