.es-navbar-container
{
	z-index:999;
}
.es-navbar-button {
	position: relative;
}

.box_info_registrazione a
{
	text-decoration:underline;
}

.evidenzia
{
	display:none;
}

.first_of_grid
{
	margin-top:20px;
}

.condizioni_privacy a
{
	text-decoration:underline;
}

.t
{
	display:none;
}

.td_edit
{
	min-width:20px;
}

.image_picker_image
{
	width:50px;
	cursor:pointer;
}
ul.thumbnails.image_picker_selector li .thumbnail
{
	padding: 2px !important;
}

#cart-offcanvas
{
	z-index:9999;
}

img:not([src])
{
	visibility: initial;
}

.uk-form-danger
{
	border: 1px solid #f0506e;
}

.uk-button.disabled
{
	background-color: transparent !important;
    color: #999 !important;
    border-color: #e5e5e5 !important;
}

.spedizione_selezionata
{
	background-color: $background-muted-background;
}

.spedizione_box, .radio_corriere, .radio_pagamento
{
	cursor:pointer;
}

.uk-accordion li a
{
	color:#666;
}

.uk-accordion li.uk-open a
{
	color:#333;
}

.uk_progress {
    height: 1px;
}

.uk_badge_meta
{
	background: #EEE;
}

.radio_pagamento, .radio_corriere
{
	padding-top:7px !important;
	padding-bottom:7px !important;
}

.checkout_bottom_bar
{
	box-shadow: 0px -2px 10px 0px #DDD;
	position:fixed;
	bottom:-200px;
	left:0px;
	z-index:99999;
	transition: bottom 0.5s linear;
}

.checkout-step
{
	width:20px;
	height:20px;
	display:inline-block;
/* 	background: #f8f8f8; */
	padding:5px;
	line-height: 20px;
}

.checkout-steps
{
	background-color:#FFF;
}
.checkout-step .uk-icon
{
	vertical-align: 6px;
}
.checkout-steps.uk-sticky-fixed
{
	box-shadow: 0px 2px 10px 0px #DDD;
	left:0px;
	right:0px;
	width:auto !important;
	z-index:99999;
	padding-top:25px;
	padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: $breakpoint-medium) {
	.checkout-steps.uk-sticky-fixed
	{
		display:none;
	}
}
