@media (min-width: $breakpoint-large) and (max-width: $breakpoint-xlarge - 1px) {
	
	


	/* Edges
	========================================================================== */

	/* Don't use `width: 100%` because it is wrong if the parent has padding. */
	.eg-position-top\@l {
		top: 0;
		left: 0;
		right: 0;
	}

	.eg-position-bottom\@l {
		bottom: 0;
		left: 0;
		right: 0;
	}

	.eg-position-left\@l {
		top: 0;
		bottom: 0;
		left: 0;
	}

	.eg-position-right\@l {
		top: 0;
		bottom: 0;
		right: 0;
	}


	/* Corners
	========================================================================== */

	.eg-position-top-left\@l {
		top: 0;
		left: 0;
	}

	.eg-position-top-right\@l {
		top: 0;
		right: 0;
	}

	.eg-position-bottom-left\@l {
		bottom: 0;
		left: 0;
	}

	.eg-position-bottom-right\@l {
		bottom: 0;
		right: 0;
	}

	/*
	* Center
	* 1. Fix text wrapping if content is larger than 50% of the container.
	*/

	.eg-position-center\@l {
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		/* 1 */
		width: max-content;
		max-width: 100%;
		box-sizing: border-box;
	}

	/* Vertical */
	[class*='eg-position-center-left@l'],
	[class*='eg-position-center-right@l'] {
		top: 50%;
		transform: translateY(-50%);
	}

	.eg-position-center-left\@l { left: 0; }
	.eg-position-center-right\@l { right: 0; }

	.eg-position-center-left-out\@l {
		right: 100%;
		width: max-content;
	}

	.eg-position-center-right-out\@l {
		left: 100%;
		width: max-content;
	}

	/* Horizontal */
	.eg-position-top-center\@l,
	.eg-position-bottom-center\@l {
		left: 50%;
		transform: translateX(-50%);
		/* 1 */
		width: max-content;
		max-width: 100%;
		box-sizing: border-box;
	}

	.eg-position-top-center\@l { top: 0; }
	.eg-position-bottom-center\@l { bottom: 0; }


	.eg-position-small.eg-position-center\@l { transform: translate(-50%, -50%) translate(-$position-small-margin, (-$position-small-margin)); }

	.eg-position-small[class*='eg-position-center-left@l'],
	.eg-position-small[class*='eg-position-center-right@l'] { transform: translateY(-50%) translateY(-$position-small-margin); }

	.eg-position-small.eg-position-top-center\@l,
	.eg-position-small.eg-position-bottom-center\@l { transform: translateX(-50%) translateX(-$position-small-margin); }

	/*
	* Medium
	*/

	.eg-position-medium.eg-position-center\@l { transform: translate(-50%, -50%) translate(-$position-medium-margin, (-$position-medium-margin)); }

	.eg-position-medium[class*='eg-position-center-left@l'],
	.eg-position-medium[class*='eg-position-center-right@l'] { transform: translateY(-50%) translateY(-$position-medium-margin); }

	.eg-position-medium.eg-position-top-center\@l,
	.eg-position-medium.eg-position-bottom-center\@l { transform: translateX(-50%) translateX(-$position-medium-margin); }

	/*
	* Large
	*/

	.eg-position-large.eg-position-center\@l { transform: translate(-50%, -50%) translate(-$position-large-margin, (-$position-large-margin)); }

	.eg-position-large[class*='eg-position-center-left@l'],
	.eg-position-large[class*='eg-position-center-right@l'] { transform: translateY(-50%) translateY(-$position-large-margin); }

	.eg-position-large.eg-position-top-center\@l,
	.eg-position-large.eg-position-bottom-center\@l { transform: translateX(-50%) translateX(-$position-large-margin); }

}
